.carousel-item {
  height: 32rem;
  background: rgb(0, 0, 0);
  color: white;
  position: relative;
}
.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.ft-lobster {
  font-family: "Lobster Two", cursive;
  color: #5d0d03;
  filter: drop-shadow(1px 4px 5px #dbe2f4);
}

.ft-lobster-it {
  font-family: "Lobster", cursive;
  color: #5d0d03;
  filter: drop-shadow(1px 1px 0px #dbe2f4);
  text-shadow: 0px 1px 1px #c3a98f;
}

.btn-other-color {
  background: linear-gradient(181deg, #ffce3b, #e98b00);
  color: #5d0d03;
  font-family: Lato;
}

.hero {
  position: relative;
  height: 40vh;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: " ";
  background-image: url(./img/personagens/hellenetarcila.png);
  background-size: cover;
  position: absolute;
  background-position: center;
  top: -9vh;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.ft-kits {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
}

.whatsapp-icon {
  z-index: 2;
  position: fixed;
  bottom: 5vh;
  right: 3vh;
  filter: drop-shadow(0px 2px 1px black);
}

/* No setor de Promoções */
.mask-custom {
  border-radius: 2em;
  backdrop-filter: blur(15px);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.shadow-drop-center {
  animation: shadow-drop-center 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.text-pop-up-top {
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.text-focus-in {
  animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-2 {
  animation: fade-in-2 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-elliptic-right-fwd {
  animation: slide-in-elliptic-right-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@keyframes slide-in-elliptic-right-fwd {
  0% {
    transform: translateX(1200px) rotateY(-30deg) scale(0);
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: -1800px 50%;
    opacity: 1;
  }
}

.slide-in-elliptic-top-fwd {
  animation: slide-in-elliptic-top-fwd 1.2s
    cubic-bezier(0.55, 0.055, 0.675, 0.2) both;
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
