.carousel-item {
  height: 32rem;
  background: rgb(0, 0, 0);
  color: white;
  position: relative;
}
.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.ft-lobster {
  font-family: "Lobster Two", cursive;
  color: #5d0d03;
  filter: drop-shadow(1px 4px 5px #dbe2f4);
}

.ft-lobster-it {
  font-family: "Lobster", cursive;
  color: #5d0d03;
  filter: drop-shadow(1px 1px 0px #dbe2f4);
  text-shadow: 0px 1px 1px #c3a98f;
}

.btn-other-color {
  background: linear-gradient(181deg, #ffce3b, #e98b00);
  color: #5d0d03;
  font-family: Lato;
}

.hero {
  position: relative;
  height: 40vh;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: " ";
  background-image: url(./img/personagens/hellenetarcila.png);
  background-size: cover;
  position: absolute;
  background-position: center;
  top: -9vh;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.ft-kits {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
}

.whatsapp-icon {
  z-index: 2;
  position: fixed;
  bottom: 5vh;
  right: 3vh;
  filter: drop-shadow(0px 2px 1px black);
}

/* No setor de Promoções */
.mask-custom {
  border-radius: 2em;
  backdrop-filter: blur(15px);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
